<div class="container overflow-hidden container p-4 m-4 border border-success">
        <h3>Recent Activity</h3>

    {% for message in room_messages %}
        <div class="container p-4 m-4">
            <small><a href="{% url 'user-profile' message.user.id %}">@{{ message.user }}</a>{{ message.created|timesince }}</small>
            <small>replied to "{{ message.room }}"</small>

            <p>{{ message }}</p>
            {% if request.user == message.user %}
                <a href="{% url 'delete-message' message.id %}">Delete</a>
            {% endif %}

        </div>
    {% endfor %}
</div>
