{% extends 'main.html' %}

{% block content %}

    {% if page == 'login' %}
    
        <div>
            <form method="POST" action="">
                {% csrf_token %}

                <label>
                    Username :
                    <input type="text" name="username" placeholder="Enter Username" />
                </label>

                <label>
                    password :
                    <input type="password" name="password" placeholder="Enter your password" />
                </label>

                <input type="submit" value="login">

            </form>

            <p>Not Signed Up yet?</p>
            <a href="{% url 'register'%}">Sign Up</a>
        </div>

    {% else %}

        <div>

            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Register" id="">
            </form>

            <p>Already Signed Up?</p>
            <a href="{% url 'login'%}">Login</a>
        </div>

    {% endif %}
{% endblock content %}