{% extends 'main.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block content %}

    <style>
            .room-container{
                display: grid;
                grid-template-columns: 3fr 1fr;
            }
    </style>

    <div class="room-container container">
        <div>
                <h1>{{ room.name }}</h1>

            <p>{{ room.description }}</p>

            <div class="comment-wrapper container">
                <h3>Conversation</h3>
                <hr>

                {% for message in room_messages %}
                    <div class="container">

                        {% if request.user == message.user %}
                            <a href="{% url 'delete-message' message.id %}">Delete</a>
                        {% endif %}

                        <small>@{{ message.user }} {{ message.created|timesince }}</small>
                        <p>{{ message.body }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
            {% if request.user.is_authenticated %}
                <div class="comment-form container">
                    <form method="POST" action="">
                        <label>
                            Enter your message:
                            {% csrf_token %}
                            {% for field in form %}
                                {% bootstrap_field field %}
                            {% endfor %}

                            <input type="text" name="body" placeholder="Write your message here ...">
                            {% buttons %}
                                <input type="Submit" value="Send" class="btn btn-primary"/>
                            {% endbuttons %}
                        </label>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="container">
            <h3>Participants</h3>
            {% for user in participants %}
                <p>@{{ user.username }}</p>
            {% endfor %}

        </div>
    </div>

{% endblock content %}

