<!DOCTYPE html>
{% load bootstrap5%}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title class="">Somo</title>
  </head>
  <body>

    <div class="container">
            {% include 'navbar.html' %}

        {% if messages %}

            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}

        {% endblock %}
    </div>

  </body>
</html>