{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container- fluid p-4 m-4">
    <div class="navbar">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="../static/images/SOMO-logos.jpeg" alt="" width="240" height="120">
    </a>

        <form method="GET" action="{% url 'home'%}">
            <label>
                  {% for field in form %}
                      {% bootstrap_field field %}
                  {% endfor %}
                Search:
                <input type="text" name="q" placeholder="Search for Rooms ....."/>
            </label>
        </form>


    {% if request.user.is_authenticated %}
        <p>Hello {{ request.user }}</p>
        <p>
            <a href="{% url 'logout' %}">Logout</a>
        </p>

        {% else %}
        <a href="{% url 'login'%}">Login</a>
    {% endif %}

    <hr>

</div>

</div>

